.path {
  display: flex;
  flex-flow: row;
  height: fit-content;
  padding: 10px;
  position: relative;
  height: 100%;
}

.grid-container {
  height: 100%;
  width: 85%;
  display: grid;
  margin-left: 20px;
  padding-bottom: 10px;
  gap: 1px;
}
.grid-item {
  background-color: none;
  align-self: top;
  justify-self: left;
  position: relative;
}
.hidden {
  opacity: 0;
}
