.path {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  height: fit-content;
  padding: 30px;
  position: relative;
}
.card1 {
  position: absolute;
  top: 300px;
  left: 200px;
}
.card2 {
    position: absolute;
    top: 50px;
    left: 500px;
  }
  .card3 {
    position: absolute;
    top: 300px;
    right: 200px;
  }
.start{
    width:40px;
    height:40px;
    position:absolute;
    left:70px;
    top:130px;
}
.end{
    position:absolute;
    top:-10px;
    right:50px;
    width:128px;
    height:128px;
}
.card1{
    position:absolute;
    left:120px;
    bottom:50px;
}
.card2{
    position:absolute;
    left:320px;
    top:150px;
}
.card-stack{
    width:100px;
    height:100px;
    position:absolute;
    left:520px;
    top:300px;
}
.card3{
    position:absolute;
    left:690px;
    top:150px;
}

.card4{
    position:absolute;
    left:940px;
    top:300px;
}